.cell.light
{
	background-color: #f0d9b5;
}

.cell.dark
{
	background-color: #b58863;
}

.cell.plain, .cell.grid, .cell.lines
{
	background-color: #d3b18c;
}

.cell.grid, .cell.lines
{
	border-color: #b58863;
}

.reference
{
	font-family: Georgia, Serif;
	color: #cccccc;
}