.cell.light
{
	background-color: #f0d9b5;
}

.cell.dark
{
	background-color: #b58863;
}

.cell.plain, .cell.grid, .cell.lines
{
	background-color: #d3b18c;
}

.cell.grid, .cell.lines
{
	border-color: #b58863;
}

.reference
{
	font-family: Georgia, Serif;
	color: #cccccc;
}

.diagonalBoth
{
	background-image: url("data:image/svg+xml,%3Csvg%20height%3D'49'%20width%3D'49'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cline%20x1%3D'0'%20y1%3D'0'%20x2%3D'49'%20y2%3D'49'%20style%3D'stroke%3A%23b58863%3Bstroke-width%3A1'%20%2F%3E%3Cline%20x1%3D'49'%20y1%3D'0'%20x2%3D'0'%20y2%3D'49'%20style%3D'stroke%3A%23b58863%3Bstroke-width%3A1'%20%2F%3E%3C%2Fsvg%3E");
}

.diagonalTLBR
{
	background-image: url("data:image/svg+xml,%3Csvg%20height%3D'49'%20width%3D'49'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cline%20x1%3D'0'%20y1%3D'0'%20x2%3D'49'%20y2%3D'49'%20style%3D'stroke%3A%23b58863%3Bstroke-width%3A1'%20%2F%3E%3C%2Fsvg%3E");
}

.diagonalBLTR
{
	background-image: url("data:image/svg+xml,%3Csvg%20height%3D'49'%20width%3D'49'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cline%20x1%3D'49'%20y1%3D'0'%20x2%3D'0'%20y2%3D'49'%20style%3D'stroke%3A%23b58863%3Bstroke-width%3A1'%20%2F%3E%3C%2Fsvg%3E");
}

.diagonalTL
{
	background-image: url("data:image/svg+xml,%3Csvg%20height%3D'49'%20width%3D'49'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cline%20x1%3D'0'%20y1%3D'0'%20x2%3D'24'%20y2%3D'24'%20style%3D'stroke%3A%23b58863%3Bstroke-width%3A1'%20%2F%3E%3C%2Fsvg%3E");
}

.diagonalTR
{
	background-image: url("data:image/svg+xml,%3Csvg%20height%3D'49'%20width%3D'49'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cline%20x1%3D'49'%20y1%3D'0'%20x2%3D'25'%20y2%3D'24'%20style%3D'stroke%3A%23b58863%3Bstroke-width%3A1'%20%2F%3E%3C%2Fsvg%3E");
}

.diagonalBL
{
	background-image: url("data:image/svg+xml,%3Csvg%20height%3D'49'%20width%3D'49'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cline%20x1%3D'25'%20y1%3D'24'%20x2%3D'0'%20y2%3D'49'%20style%3D'stroke%3A%23b58863%3Bstroke-width%3A1'%20%2F%3E%3C%2Fsvg%3E");
}

.diagonalBR
{
	background-image: url("data:image/svg+xml,%3Csvg%20height%3D'49'%20width%3D'49'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cline%20x1%3D'24'%20y1%3D'24'%20x2%3D'49'%20y2%3D'49'%20style%3D'stroke%3A%23b58863%3Bstroke-width%3A1'%20%2F%3E%3C%2Fsvg%3E");
}